@font-face {
  font-family: "Inter";
  src: url("assets/inter.ttf") format("truetype-variations");
  font-weight: 1 999;
}

html {
  --space-0: 0;
  --space-1: 1px;
  --space-2: 2px;
  --space-3: 4px;
  --space-4: 8px;
  --space-5: 12px;
  --space-6: 16px;
  --space-7: 24px;
  --space-8: 32px;
  --space-9: 52px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.sliding-pills {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}

.sliding-pills::before,
.sliding-pills::after {
  bottom: 0;
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 1;
}

.sliding-pills::before {
  left: 0;
  background: linear-gradient(to right, var(--bg), transparent);
}

.sliding-pills::after {
  right: 0;
  background: linear-gradient(to left, var(--bg), transparent);
}


.boxart {
  border: none;
  border-radius: var(--space-4);
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 4px 13px rgba(0, 0, 0, 0.02);
  transition: all 100ms;
  transform: translateY(0);
  white-space: nowrap;
}

.pill * {
  pointer-events: none;
}

.pill:hover,
.pill:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  color: #525fbe;
  transform: translateY(calc(-1 * var(--space-2)));
}

.sliding-pills__row {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  gap: var(--space-4);
  margin-bottom: var(--space-4);
}

.sliding-pills__row:nth-child(even) {
  left: -42px;
}
